<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ShoesStore</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: { 'sport-red': '#ff0000', 'glass-light': 'rgba(255, 255, 255, 0.7)', },
                    fontFamily: { sans: ['Inter', 'sans-serif'], }
                }
            }
        }
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@@phosphor-icons/web"></script>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true">
</head>
<body class="bg-gray-50 text-gray-900 flex flex-col min-h-screen">
    <partial name="_LayoutHeader" />
    <div class="flex-grow pt-20">
        @RenderBody()
    </div>
    <partial name="_LayoutFooter"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>