@model IEnumerable<WebBanGiayTheThao.ViewModels.LoaiSanPhamVM>

<section class="py-10">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold mb-8 text-center uppercase">Danh Mục Nổi Bật</h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            @foreach (var item in Model)
            {
                var linkAnh = $"/img/sanpham/{item.AnhHienThi}";

                <a asp-controller="SanPham" asp-action="TrangSanPham" asp-route-loaiId="@item.Id"  class="group relative h-64 rounded-3xl overflow-hidden cursor-pointer block shadow-lg">

                    <img src="/img/sanpham/@item.AnhHienThi"
                         class="w-full h-full object-cover transition duration-700 group-hover:scale-110"
                         alt="@item.TenLoai">

                    <div class="absolute inset-0 bg-black/30 group-hover:bg-black/50 transition flex items-center justify-center">
                        <h3 class="text-2xl font-bold text-white tracking-wider border-b-2 border-transparent group-hover:border-white transition-all pb-1 uppercase">
                            @item.TenLoai
                        </h3>
                    </div>
                </a>
            }
        </div>
    </div>
</section>