@{
    Layout = "_LayoutAdmin";
}
@model WebBanGiayTheThao.Models.ThuongHieu
<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h6 class="mb-0 text-primary text-uppercase">Cập nhật thông tin Thương Hiệu</h6>
            <a asp-area="Admin" asp-controller="QuanLyThuongHieu" asp-action="TrangQLThuongHieu" class="btn btn-sm btn-outline-secondary">
                <i class="fa fa-arrow-left me-1"></i> Quay lại
            </a>
        </div>

        <form asp-action="TrangCapNhatThuongHieu" method="post">
            <div class="row">
                <div class="col-12">
                    <input type="hidden" asp-for="Id">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="TenThuongHieu" class="form-label fw-bold">Tên thương hiệu </label>
                            <input asp-for="TenThuongHieu" class="form-control" required>
                            <span asp-validation-for="TenThuongHieu" class="text-danger"></span>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label asp-for="XuatXu" class="form-label fw-bold">Xuất Xứ</label>
                            <input asp-for="XuatXu" class="form-control" required>
                            <span asp-validation-for="XuatXu" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label asp-for="TrangThai" class="form-label">Trạng Thái</label>
                        <select asp-for="TrangThai" class="form-select">
                            <option value="1">Hiển thị</option>
                            <option value="0">Đang ẩn</option>
                        </select>
                        <span asp-validation-for="TrangThai" class="text-danger"></span>
                    </div>

                    <div class="text-center border-top pt-3">
                        <button type="submit" class="btn btn-warning px-5 py-2 text-white">
                            <i class="fa fa-sync-alt me-2"></i>Lưu Thay Đổi
                        </button>
                        <a asp-area="Admin" asp-controller="QuanLyThuongHieu" asp-action="TrangQLThuongHieu" class="btn btn-secondary px-4 py-2 ms-2">Hủy bỏ</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
