@{
    ViewData["Title"] = "Trang chủ";
}
@await Component.InvokeAsync("SlideShow")
<partial name="_ThongTinDichVu" />
<main class="container mx-auto px-6 py-12 space-y-20">

 @await Component.InvokeAsync("LoaiSanPham")

 @await Component.InvokeAsync("SanPhamBanChay")  

 @await Component.InvokeAsync("SanPhamMoi")

</main>








