/*    */
.img-preview-box {
    width: 100%;
    height: 180px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f8f9fa;
    position: relative;
    cursor: pointer;
}

    .img-preview-box img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .img-preview-box i {
        font-size: 40px;
        color: #ccc;
    }

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.gallery-item {
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 5px;
    object-fit: cover;
}

.table-size input {
    text-align: center;
}
